In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

# series reindex

In [2]:
s1 = Series([1,2,3,4],index=['A','B','C','D'])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
s1.reindex(['A','B','C','D'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [4]:
s1.reindex(index=['A','B','C','D','E'],fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [7]:
s2 = Series(['A','B','C'],index=[1,5,10])
s2

1     A
5     B
10    C
dtype: object

In [9]:
s2.reindex(index=range(15),method = 'ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [13]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=['A','B','D','E','F'],\
                columns=['c1','c2','c3','c4','c5'])
df1

         c1        c2        c3        c4        c5
A  0.819759  0.776101  0.865422  0.491764  0.064959
B  0.344331  0.022455  0.964110  0.605396  0.562896
D  0.750230  0.787972  0.111104  0.793497  0.628293
E  0.707952  0.011289  0.533383  0.459992  0.731624
F  0.992061  0.927413  0.846136  0.674420  0.701643

In [14]:
df1.reindex(index=['A','B','c','D','E','F'])

         c1        c2        c3        c4        c5
A  0.819759  0.776101  0.865422  0.491764  0.064959
B  0.344331  0.022455  0.964110  0.605396  0.562896
c       NaN       NaN       NaN       NaN       NaN
D  0.750230  0.787972  0.111104  0.793497  0.628293
E  0.707952  0.011289  0.533383  0.459992  0.731624
F  0.992061  0.927413  0.846136  0.674420  0.701643

In [15]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.819759  0.776101  0.865422  0.491764  0.064959 NaN
B  0.344331  0.022455  0.964110  0.605396  0.562896 NaN
D  0.750230  0.787972  0.111104  0.793497  0.628293 NaN
E  0.707952  0.011289  0.533383  0.459992  0.731624 NaN
F  0.992061  0.927413  0.846136  0.674420  0.701643 NaN

In [16]:
df1.reindex(index=['A','B','c','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.819759  0.776101  0.865422  0.491764  0.064959 NaN
B  0.344331  0.022455  0.964110  0.605396  0.562896 NaN
c       NaN       NaN       NaN       NaN       NaN NaN
D  0.750230  0.787972  0.111104  0.793497  0.628293 NaN
E  0.707952  0.011289  0.533383  0.459992  0.731624 NaN
F  0.992061  0.927413  0.846136  0.674420  0.701643 NaN

In [17]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [19]:
df1

         c1        c2        c3        c4        c5
A  0.819759  0.776101  0.865422  0.491764  0.064959
B  0.344331  0.022455  0.964110  0.605396  0.562896
D  0.750230  0.787972  0.111104  0.793497  0.628293
E  0.707952  0.011289  0.533383  0.459992  0.731624
F  0.992061  0.927413  0.846136  0.674420  0.701643

In [20]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.819759  0.776101  0.865422  0.491764  0.064959
B  0.344331  0.022455  0.964110  0.605396  0.562896

In [21]:
s1

A    1
B    2
C    3
D    4
dtype: int64