In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
import webbrowser

In [4]:
link = 'https://www.pypandas.cn/user_guide/io/index.html'
webbrowser.open(link)

True

In [6]:
df1 = pd.read_clipboard()
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas           NaN
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [7]:
df1.to_clipboard()

csv

In [10]:
df1.to_csv('df1.csv',index=False)

In [9]:
!dir

 驱动器 D 中的卷是 新加卷
 卷的序列号是 B89B-9934

 D:\JupyterNotebookWorkplace 的目录

2019/07/16  13:20    <DIR>          .
2019/07/16  13:20    <DIR>          ..
2019/07/16  13:14    <DIR>          .ipynb_checkpoints
2019/07/15  21:45            28,903 02_DataFrame.ipynb
2019/07/16  13:13            11,474 03_Series&DataFrame.ipynb
2019/07/16  13:19             6,699 04_IO.ipynb
2019/07/16  13:15               960 debug.log
2019/07/16  13:20               588 df1.csv
               5 个文件         48,624 字节
               3 个目录 54,580,883,456 可用字节

In [11]:
df2 = pd.read_csv('df1.csv')

In [12]:
df2

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas           NaN
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [13]:
df1.to_json

<bound method NDFrame.to_json of    Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas           NaN
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq>

In [15]:
pd.read_json(df1.to_json())

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
10      binary                   SAS        read_sas          None
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata

In [17]:
df1.to_html('df1.html')