In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [7]:
df1 = DataFrame(
                {"城市":["北京","上海","广州"],
                 "人口":[1000,2000,1500]}
               ,index=['A','B','C']
                )
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [8]:
#添加一列  法一：使用Series 必须index一致才行
df1['GDP'] = Series([1000,2000,3000])
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  1500  NaN

In [15]:
gdp_map = {"北京":1000,"上海":2000,"广州":1500}

In [20]:
df1 = DataFrame(
                {"城市":["北京","上海","广州"],
                 "人口":[1000,2000,1500]}
               ,index=['A','B','C'])
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [22]:
#城市保持映射 不用关注index是否一致
df1['GDP'] = df1['城市'].map(gdp_map)
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

In [23]:
#replace in Series

In [31]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [38]:
#????????????????
s1.replace(1,9)
s1

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [33]:
s1.replace([1,2,3],[10,20,30])
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32