In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [3]:
!dir ../

无效开关 - ""。

In [2]:
df = pd.read_csv('food_info.csv')
df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [9]:
df.size

310248

In [3]:
s1 = Series(['a']*310248)

In [4]:
df['A'] = s1

In [5]:
df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),A
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,a
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,a
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,a
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,a
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,a

In [6]:
df['A'] = df['A'].apply(str.upper)

In [7]:
df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),A
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,A
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,A
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,A
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,A
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,A

In [68]:
df0 = df[['Water_(g)','Shrt_Desc','Lipid_Tot_(g)','Carbohydrt_(g)','A']]
df0.head()

   Water_(g)                 Shrt_Desc  Lipid_Tot_(g)  Carbohydrt_(g)  A
0      15.87          BUTTER WITH SALT          81.11            0.06  A
1      15.87  BUTTER WHIPPED WITH SALT          81.11            0.06  A
2       0.24      BUTTER OIL ANHYDROUS          99.48            0.00  A
3      42.41               CHEESE BLUE          28.74            2.34  A
4      41.11              CHEESE BRICK          29.68            2.79  A

In [20]:
df0['Shrt_Desc'][0].strip().split(' ')

['BUTTER', 'WITH', 'SALT']

In [57]:
items = df0['Shrt_Desc'][0].split(' ')
# items
a = []
a += [item for item in items if item != items[0]]

"['WITH', 'SALT']"

In [52]:
def foo(line):
    items = line.split(' ')
    a = []
    a += [item for item in items if item != items[0]]
    return Series([items[0],a])

In [61]:
def foo2(line):
    items = line.split(' ')
    item0 = items[0]
    del items[0]
    return Series([item0,items])

In [65]:
def foo3(line):
    items = line.split(' ')
    return Series([items[0],items[1]])

In [63]:
df_tmp = df0['Shrt_Desc'].apply(foo)

In [69]:
df_tmp = df0['Shrt_Desc'].apply(foo2)

In [70]:
# df_tmp = df0['Shrt_Desc'].apply(foo3)

In [78]:
df_tmp.head()

        0                      1
0  BUTTER           [WITH, SALT]
1  BUTTER  [WHIPPED, WITH, SALT]
2  BUTTER       [OIL, ANHYDROUS]
3  CHEESE                 [BLUE]
4  CHEESE                [BRICK]

In [80]:
df_tmp.rename(columns={0:'first name',1:'last name'})
df_tmp.head()

        0                      1
0  BUTTER           [WITH, SALT]
1  BUTTER  [WHIPPED, WITH, SALT]
2  BUTTER       [OIL, ANHYDROUS]
3  CHEESE                 [BLUE]
4  CHEESE                [BRICK]

In [75]:
df_new = df0.combine_first(df_tmp)
df_new

F:\anaconda\lib\site-packages\pandas\core\indexes\base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

      Water_(g)                        ...                                                                          1
0         15.87                        ...                                                               [WITH, SALT]
1         15.87                        ...                                                      [WHIPPED, WITH, SALT]
2          0.24                        ...                                                           [OIL, ANHYDROUS]
3         42.41                        ...                                                                     [BLUE]
4         41.11                        ...                                                                    [BRICK]
5         48.42                        ...                                                                     [BRIE]
6         51.80                        ...                                                                [CAMEMBERT]
7         39.28                        ...                                                                  [CARAWAY]
8         37.10                        ...                                                                  [CHEDDAR]
9         37.65                        ...                                                                 [CHESHIRE]
10        38.20                        ...                                                                    [COLBY]
11        79.79                        ...                                        [COTTAGE, CRMD, LRG, OR, SML, CURD]
12        79.64                        ...                                                   [COTTAGE, CRMD, W/FRUIT]
13        81.01                        ...                          [COTTAGE, NONFAT, UNCRMD, DRY, LRG, OR, SML, C...
14        81.24                        ...                                             [COTTAGE, LOWFAT, 2%, MILKFAT]
15        82.48                        ...                                             [COTTAGE, LOWFAT, 1%, MILKFAT]
16        54.44                        ...                                                                    [CREAM]
17        41.56                        ...                                                                     [EDAM]
18        55.22                        ...                                                                     [FETA]
19        37.92                        ...                                                                  [FONTINA]
20        13.44                        ...                                                                  [GJETOST]
21        41.46                        ...                                                                    [GOUDA]
22        33.19                        ...                                                                  [GRUYERE]
23        48.42                        ...                                                                [LIMBURGER]
24        41.01                        ...                                                                 [MONTEREY]
25        50.01                        ...                                                    [MOZZARELLA, WHL, MILK]
26        48.38                        ...                                         [MOZZARELLA, WHL, MILK, LO, MOIST]
27        53.78                        ...                                             [MOZZARELLA, PART, SKIM, MILK]
28        45.54                        ...                                         [MOZZARELLA, LO, MOIST, PART-SKIM]
29        41.77                        ...                                                                 [MUENSTER]
...         ...                        ...                                                                        ...
8588       2.00                        ...                                 [CRL, RICE, W/, PEARS, &, APPL, DRY, INST]
8589      76.70                        ...                                                 [BANANA, NO, TAPIOCA, STR]
8590      83.10                        ...                                                 [BANANA, APPL, DSSRT, STR]
8591       1.30                        ...                              [TORTILLA, CHIPS, LT, (BAKED, W/, LESS, OIL)]
8592       5.00                        ...                          [RTE, POST, HONEY, BUNCHES, OF, OATS, HONEY, R...
8593       2.80                        ...                                                      [MICROWAVE, LOFAT&NA]
8594      81.60                        ...                                                    [FRUIT, SUPREME, DSSRT]
8595      59.60                        ...                                                          [SWISS, LOW, FAT]
8596      14.50                        ...                                         [BAR, CORN, FLAKE, CRUST, W/FRUIT]
8597      49.90                        ...                                                       [MOZZARELLA, LO, NA]
8598      21.70                        ...                                                          [DRSNG, NO, CHOL]
8599       0.00                        ...                                                 [CORN, PEANUT, AND, OLIVE]
8600      23.90                        ...                                                  [TABLETOP, FRUCTOSE, LIQ]
8601      55.50                        ...                                                          [FOOD, IMITATION]
8602       9.00                        ...                                                            [FLAKES, DRIED]
8603       4.20                        ...                                    [CHOC, FLAVOR, LO, CAL, INST, DRY, MIX]
8604      84.40                        ...                                               [GRAPE, JUC, NO, SUGAR, CND]
8605      53.00                        ...                                              [RED, SUGAR, HOME, PRESERVED]
8606      54.66                        ...                                                 [FILLINGS, BLUEBERRY, CND]
8607      28.24                        ...                                           [MIX, NON-ALCOHOLIC, CONCD, FRZ]
8608       6.80                        ...                                     [CHOC, FLAVOR, LO, CAL, REG, DRY, MIX]
8609      10.40                        ...                          [ALL, FLAVORS, XCPT, CHOC, LO, CAL, REG, DRY, ...
8610       6.84                        ...                          [ALL, FLAVORS, XCPT, CHOC, LO, CAL, INST, DRY,...
8611       8.20                        ...                                                            [WHEAT, GLUTEN]
8612      81.90                        ...                                                                [LEGS, RAW]
8613      43.00                        ...                                                                   [SALTED]
8614      70.25                        ...                                                     [(BAY&SEA), CKD, STMD]
8615      26.00                        ...                                                                     [CANE]
8616      79.20                        ...                                                                      [RAW]
8617      78.50                        ...                                                               [GREEN, RAW]

[8618 rows x 7 columns]

In [81]:
del df_new['Shrt_Desc']

In [83]:
df_new.head()

   Water_(g)  Lipid_Tot_(g)  Carbohydrt_(g)  A       0                      1
0      15.87          81.11            0.06  A  BUTTER           [WITH, SALT]
1      15.87          81.11            0.06  A  BUTTER  [WHIPPED, WITH, SALT]
2       0.24          99.48            0.00  A  BUTTER       [OIL, ANHYDROUS]
3      42.41          28.74            2.34  A  CHEESE                 [BLUE]
4      41.11          29.68            2.79  A  CHEESE                [BRICK]

In [84]:
df_new.to_csv('food_new.csv')