In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
df = pd.read_csv('food_new.csv')
df.head()

,Unnamed: 0,Water_(g),Lipid_Tot_(g),Carbohydrt_(g),A,0,1
0,0,15.87,81.11,0.06,A,BUTTER,"['WITH', 'SALT']"
1,1,15.87,81.11,0.06,A,BUTTER,"['WHIPPED', 'WITH', 'SALT']"
2,2,0.24,99.48,0.00,A,BUTTER,"['OIL', 'ANHYDROUS']"
3,3,42.41,28.74,2.34,A,CHEESE,['BLUE']
4,4,41.11,29.68,2.79,A,CHEESE,['BRICK']

In [3]:
del df['Unnamed: 0']

In [4]:
df.head()

,Water_(g),Lipid_Tot_(g),Carbohydrt_(g),A,0,1
0,15.87,81.11,0.06,A,BUTTER,"['WITH', 'SALT']"
1,15.87,81.11,0.06,A,BUTTER,"['WHIPPED', 'WITH', 'SALT']"
2,0.24,99.48,0.00,A,BUTTER,"['OIL', 'ANHYDROUS']"
3,42.41,28.74,2.34,A,CHEESE,['BLUE']
4,41.11,29.68,2.79,A,CHEESE,['BRICK']

In [5]:
df.describe()

         Water_(g)  Lipid_Tot_(g)  Carbohydrt_(g)
count  8612.000000    8618.000000     8618.000000
mean     54.163710      10.647024       21.819062
std      30.648283      15.866353       27.239000
min       0.000000       0.000000        0.000000
25%      30.087500       0.992500        0.040000
50%      63.265000       5.235000        8.945000
75%      77.610000      13.900000       32.900000
max     100.000000     100.000000      100.000000

In [5]:
#Return an int representing the number of elements in this object.
df.size

51708

In [8]:
import pandas_profiling
pfr = pandas_profiling.ProfileReport(df)

In [10]:
pfr.to_file("./example.html")

In [6]:
#返回行数
len(df)

8618

In [8]:
#查重.unique()
len(df['Lipid_Tot_(g)'].unique())

2405

In [10]:
#查重  duplicated()
df['Lipid_Tot_(g)'].head().duplicated()

0    False
1     True
2    False
3    False
4    False
Name: Lipid_Tot_(g), dtype: bool

In [12]:
#去重   drop_duplicates()
type(df['Lipid_Tot_(g)'].drop_duplicates())

pandas.core.series.Series

In [15]:
df.drop_duplicates(['Lipid_Tot_(g)']).head()

   Water_(g)  Lipid_Tot_(g)  Carbohydrt_(g)  A       0                     1
0      15.87          81.11            0.06  A  BUTTER      ['WITH', 'SALT']
2       0.24          99.48            0.00  A  BUTTER  ['OIL', 'ANHYDROUS']
3      42.41          28.74            2.34  A  CHEESE              ['BLUE']
4      41.11          29.68            2.79  A  CHEESE             ['BRICK']
5      48.42          27.68            0.45  A  CHEESE              ['BRIE']

In [ ]:
#保留一个
df.drop_duplicates(['Lipid_Tot_(g)'],keep='last')