In [1]:
import pandas as pd
import numpy as np
from pandas import Series , DataFrame

In [2]:
df = pd.read_csv('city_weather.csv')

In [4]:
g = df.groupby('city')
list(g)

[('BJ',         date city  temperature  wind
  0   2016/1/3   BJ            8     5
  1  2016/1/17   BJ           12     2
  2  2016/1/31   BJ           19     6
  3  2016/2/14   BJ           -3     1
  4  2016/2/28   BJ            5     7
  5  2016/3/13   BJ           -4     8),
 ('GZ',          date city  temperature  wind
  14  2016/7/17   GZ           -4    10
  15  2016/7/31   GZ           -7    10
  16  2016/8/14   GZ          -10    11
  17  2016/8/28   GZ          -13    11
  18  2016/9/11   GZ          -16    12),
 ('SH',          date city  temperature  wind
  6   2016/3/27   SH           -4     5
  7   2016/4/10   SH           -7     7
  8   2016/4/24   SH          -10     7
  9    2016/5/8   SH            5     8
  10  2016/5/22   SH           16     8
  11   2016/6/5   SH            2     9
  12  2016/6/19   SH            0     9
  13   2016/7/3   SH           -2     9)]

In [6]:
#聚合

In [13]:
def foo(attr):
    return attr.max()-attr.min()

In [14]:
g.agg(foo)

      temperature  wind
city
BJ             23     7
GZ             12     2
SH             26     4

In [15]:
#多个column进行group
g_new  =df.groupby(['city','wind'])
g_new.groups

{('BJ', 1): Int64Index([3], dtype='int64'),
 ('BJ', 2): Int64Index([1], dtype='int64'),
 ('BJ', 5): Int64Index([0], dtype='int64'),
 ('BJ', 6): Int64Index([2], dtype='int64'),
 ('BJ', 7): Int64Index([4], dtype='int64'),
 ('BJ', 8): Int64Index([5], dtype='int64'),
 ('GZ', 10): Int64Index([14, 15], dtype='int64'),
 ('GZ', 11): Int64Index([16, 17], dtype='int64'),
 ('GZ', 12): Int64Index([18], dtype='int64'),
 ('SH', 5): Int64Index([6], dtype='int64'),
 ('SH', 7): Int64Index([7, 8], dtype='int64'),
 ('SH', 8): Int64Index([9, 10], dtype='int64'),
 ('SH', 9): Int64Index([11, 12, 13], dtype='int64')}

In [17]:
g.groups

{'BJ': Int64Index([0, 1, 2, 3, 4, 5], dtype='int64'),
 'GZ': Int64Index([14, 15, 16, 17, 18], dtype='int64'),
 'SH': Int64Index([6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')}

In [19]:
g.get_group('BJ')

        date city  temperature  wind
0   2016/1/3   BJ            8     5
1  2016/1/17   BJ           12     2
2  2016/1/31   BJ           19     6
3  2016/2/14   BJ           -3     1
4  2016/2/28   BJ            5     7
5  2016/3/13   BJ           -4     8

In [20]:
g_new.get_group(('BJ',5))

       date city  temperature  wind
0  2016/1/3   BJ            8     5

In [23]:
for (city_name,wind),group in g_new:
    print(city_name,wind)
    print("-------------")
    print(group)
    print("^^^^^^^^^^^^^^^^^^^")

BJ 1
-------------
        date city  temperature  wind
3  2016/2/14   BJ           -3     1
^^^^^^^^^^^^^^^^^^^
BJ 2
-------------
        date city  temperature  wind
1  2016/1/17   BJ           12     2
^^^^^^^^^^^^^^^^^^^
BJ 5
-------------
       date city  temperature  wind
0  2016/1/3   BJ            8     5
^^^^^^^^^^^^^^^^^^^
BJ 6
-------------
        date city  temperature  wind
2  2016/1/31   BJ           19     6
^^^^^^^^^^^^^^^^^^^
BJ 7
-------------
        date city  temperature  wind
4  2016/2/28   BJ            5     7
^^^^^^^^^^^^^^^^^^^
BJ 8
-------------
        date city  temperature  wind
5  2016/3/13   BJ           -4     8
^^^^^^^^^^^^^^^^^^^
GZ 10
-------------
         date city  temperature  wind
14  2016/7/17   GZ           -4    10
15  2016/7/31   GZ           -7    10
^^^^^^^^^^^^^^^^^^^
GZ 11
-------------
         date city  temperature  wind
16  2016/8/14   GZ          -10    11
17  2016/8/28   GZ          -13    11
^^^^^^^^^^^^^^^^^^^
GZ 12
-------------
         date city  temperature  wind
18  2016/9/11   GZ          -16    12
^^^^^^^^^^^^^^^^^^^
SH 5
-------------
        date city  temperature  wind
6  2016/3/27   SH           -4     5
^^^^^^^^^^^^^^^^^^^
SH 7
-------------
        date city  temperature  wind
7  2016/4/10   SH           -7     7
8  2016/4/24   SH          -10     7
^^^^^^^^^^^^^^^^^^^
SH 8
-------------
         date city  temperature  wind
9    2016/5/8   SH            5     8
10  2016/5/22   SH           16     8
^^^^^^^^^^^^^^^^^^^
SH 9
-------------
         date city  temperature  wind
11   2016/6/5   SH            2     9
12  2016/6/19   SH            0     9
13   2016/7/3   SH           -2     9
^^^^^^^^^^^^^^^^^^^